/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.text-danger {
    font-family: 'Rajdhani', sans-serif;
}
.card-header {
    font-family: 'DM Mono', monospace;
    font-size: 130%;
}
.panel-btn {
    font-family: 'DM Mono', monospace;
    background: #007BFF;
    color: #fff;
    font-size: 100%;
    cursor: pointer;
    width: 250px;
}
    .panel-btn:hover {
        color: #fff;
    }

.panel-btn-edit {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 15px;
    background: #FFC107;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    width: 100px;
    height: 30px;
    font-family: 'Quicksand', sans-serif;
}
.display-only:hover {
    filter: blur(1.5px);
}
.modal {
    font-family: 'Quicksand', sans-serif;
}
.span-lable {
    font-family: 'Quicksand', sans-serif;
}
.bio-area {
    height:85px;
    width:450px;
}
.title-header {
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    font-weight: 400;
    margin-top:1em;
}
.subheader {
    font-size: 18px;
    color: #586069;
    font-family: 'Muli', sans-serif;
}
.btn-create-research {
    margin-top:570px;
}
.badge {
    cursor:pointer;
}
footer {
    font-family: 'Russo One', sans-serif;
    color:aliceblue;
}
#foot-link {
    text-decoration: none;
    color: aliceblue;
}
    #foot-link:hover {
        text-decoration: none;
        color: aliceblue;
    }
.styled select {
    background: transparent;
    width: 160px;
    font-size: 14px;
    height: 25px;
}

.styled {
    margin:2px;
    width: 150px;
    height: 25px;
    overflow: hidden;
    font-size: 14px;
}
#content {
    max-width: 1100px;
    width: calc(100% - 164px);
    border-radius: 0;
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    padding: 24px;
    box-sizing: border-box
}
.tag-item {
    color: #000000;
    text-decoration: none;
    
}
    .tag-item:hover {
        color: #000000;
        text-decoration: none;
    }
.rsch-title {
    font-family: 'Nunito', sans-serif;
}
#right-side-bar {
    margin-top: 1em;
    font-family: 'Work Sans', sans-serif;
}
#st {
    margin-right:1.8em;
    margin-left:2em;
}
#exp {
    margin-right: 1.8em;
    margin-left: 2em;
}
#st-count {
    margin-left:2.5em;
}
#exp-count {
    margin-left:3em;
}
.head-line-text {
    font-family: 'DM Mono', monospace;
}
#btn-add-rsch {
    margin-left:74%;
}
.mono {
    font-family: 'DM Mono', monospace;
    margin-top:1.5em;
}