@model bioResearchSystem.Web.Helpers.Researches.ResearchViewCollection



<div class="container">
    <div id="content">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-white rounded box-shadow">
            <div class="lh-100">
                <div class="row">
                    <h6 class="mb-0 lh-100">Top Researches</h6>
                </div>
            </div>
        </div>
        <div class="my-3 p-3 bg-white rounded box-shadow">
            <h6 class="border-bottom border-gray pb-2 mb-0">Recent updates</h6>

            @foreach (var item in Model.Objects)
            {
                <div class="media text-muted pt-3">
                    <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <h3>
                            <a href="Researches/ResarchDetails/@item.Id.ToString()">@item.Title</a>
                        </h3>

                        @if (item.TagResearches.Count > 0)
                        {
                            <span>
                                @foreach (var tag in item.TagResearches)
                                {
                                    <a href=""> 
                                        <small class="badge badge-warning" style="margin-left: 5px">@tag.Tag.TagName</small>
                                    </a>
                                }
                            </span>
                        }
                    </p>
                </div>
            }



        </div>

        <div class="container btn-paggin">
            @if (Model.PageViewModel.HasPreviousPage)
            {
                <a asp-action="Researches"
                   asp-route-page="@(Model.PageViewModel.PageNumber - 1)"
                   class="page-link">

                    Previous page
                </a>
            }
            @if (Model.PageViewModel.HasNextPage)
            {
                <a asp-action="Researches"
                   asp-route-page="@(Model.PageViewModel.PageNumber + 1)"
                   class="page-link">
                    Next page

                </a>
            }
        </div>
    </div>
    <div id="right-side-bar">

    </div>
</div>